.home-hero-wrap {
	@media (min-width: 768px) {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	@media (max-width: 768px) {
		
	}
	.home-hero-left {
		@media (min-width: 768px) {
			width: calc(100% - 371px);
		}
		@media (max-width: 768px) {
			padding: 75px 25px;
		}
		&.home-hero-video-left {
			@media (max-width: 768px) {
				padding: 0;
				.home-hero-left-inner {
					padding: 25px;
				}
			}
		}
		.home-hero-left-inner {
			@media (min-width: 768px) {
				max-width: 601px;
				padding-left: 100px;
				height: 100%;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
			}
			@media (max-width: 768px) {
				
			}
			h1.home-hero-heading {

			}
			.home-hero-buttons {
				padding-top: 25px;
				a.btn {
					@media (max-width: 768px) {
						display: block;
						clear: both;
						float: none;
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.home-hero-right {
		@media (min-width: 768px) {
			width: 371px;
			padding: 75px 50px 200px;
		}
		@media (max-width: 768px) {
			padding: 50px 25px 100px;
		}
		h5,
		h6 {
			font-family: 'Lato-Black';
			text-transform: uppercase;
		}
	}
}
.home-hero-bottom {
	@media (min-width: 768px) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		position: relative;
		align-items: flex-start;
		margin-top: -100px;
	}
	@media (max-width: 768px) {
		position: relative;
	}
	.home-hero-content {
		@media (min-width: 768px) {
			display: block;
			max-width: 768px;
			margin-left: 100px;
			padding: 50px;
		}
		@media (max-width: 768px) {
			padding: 50px 25px;
			margin: -75px 15px -200px;
		}
		&.hero-video-content {
			position: relative;
			z-index: 2;
		}
	}
	.home-hero-diamond-wrap {
		@media (min-width: 768px) {

		}
		@media (max-width: 768px) {
			text-align: center;
		}
		img {

		}
	}
}
.home-hero-video {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 0;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}
}